In [44]:
from main import Transaction

In [45]:
Customer = Transaction()

## Main Operation

### 1. Add New Item
User adds a new item to the Order Table: Sate with a quantity of 2 and a unit price of 15000.

In [46]:
Customer.add_item("Sate", 2, 15000)

Item added.
  item_name  quantity  price  total_price_before_discount
0      Sate         2  15000                        30000

User adds other new item to the Order Table: Nasi Goreng with a quantity of 3 and a unit price of 10000.

In [47]:
Customer.add_item("Nasi Goreng", 3, 10000)

Item added.
     item_name  quantity  price  total_price_before_discount
0         Sate         2  15000                        30000
1  Nasi Goreng         3  10000                        30000

User adds other new item to the Order Table: Soto with a quantity of 4 and a unit price of 12000.

In [48]:
Customer.add_item("Soto", 4, 12000)

Item added.
     item_name  quantity  price  total_price_before_discount
0         Sate         2  15000                        30000
1  Nasi Goreng         3  10000                        30000
2         Soto         4  12000                        48000

### 2. Delete Item
User deletes item from the Order Table : Sate

In [49]:
Customer.delete_item("Soto")

Item deleted.
     item_name  quantity  price  total_price_before_discount
0         Sate         2  15000                        30000
1  Nasi Goreng         3  10000                        30000

### 3. Update Item Name
User updates item name of Sate to Soto

In [50]:
Customer.update_item_name("Sate", "Soto")

Item name updated.
     item_name  quantity  price  total_price_before_discount
0         Soto         2  15000                        30000
1  Nasi Goreng         3  10000                        30000

### 4. Update Item Quantity
User updates item quantity of Nasi Goreng from 3 to 2

In [51]:
Customer.update_item_quantity("Nasi Goreng", 2)

Item quantity updated.
     item_name  quantity  price  total_price_before_discount
0         Soto         2  15000                        30000
1  Nasi Goreng         2  10000                        20000

### 5. Update Item Price
User updates Item Price of Soto to 12000

In [52]:
Customer.update_item_price("Soto", 12000)

Item price updated.
     item_name  quantity  price  total_price_before_discount
0         Soto         2  12000                        24000
1  Nasi Goreng         2  10000                        20000

### 6. Check Order
User checks current Order Table

In [53]:
Customer.check_order()

     item_name  quantity  price  total_price_before_discount
0         Soto         2  12000                        24000
1  Nasi Goreng         2  10000                        20000

### 7. Reset Transaction
User resets transaction by deleting all items.

In [54]:
Customer.reset_transaction()

Transaction reset.
Transaction is empty.

### 8. Check Out
User checks out Order table with 0 items.

In [55]:
Customer.check_out()

Total Price Before Discount: 0
Total Discount: 0
Total Price: 0
Transaction reset.
Transaction is empty.

User adds items to Order Table

In [56]:
Customer.add_item("Sate", 2, 15000)
Customer.add_item("Nasi Goreng", 3, 10000)
Customer.add_item("Steak", 3, 100000)
Customer.add_item("Kopi Luwak", 3, 110000)
Customer.add_item("Es Krim", 3, 200000)

Item added.
  item_name  quantity  price  total_price_before_discount
0      Sate         2  15000                        30000
Item added.
     item_name  quantity  price  total_price_before_discount
0         Sate         2  15000                        30000
1  Nasi Goreng         3  10000                        30000
Item added.
     item_name  quantity   price  total_price_before_discount
0         Sate         2   15000                        30000
1  Nasi Goreng         3   10000                        30000
2        Steak         3  100000                       300000
Item added.
     item_name  quantity   price  total_price_before_discount
0         Sate         2   15000                        30000
1  Nasi Goreng         3   10000                        30000
2        Steak         3  100000                       300000
3   Kopi Luwak         3  110000                       330000
Item added.
     item_name  quantity   price  total_price_before_discount
0         Sate         2   15000                        30000
1  Nasi Goreng         3   10000                        30000
2        Steak         3  100000                       300000
3   Kopi Luwak         3  110000                       330000
4      Es Krim         3  200000                       600000

User check out Order table with several items.

In [57]:
Customer.check_out()

Sate: 2 x 15000 = 30000
Nasi Goreng: 3 x 10000 = 30000
Steak: 3 x 100000 = 285000.0
Kopi Luwak: 3 x 110000 = 310200.0
Es Krim: 3 x 200000 = 558000.0
Total Price Before Discount: 1290000
Total Discount: 76800.0
Total Price: 1213200.0
Transaction reset.
Transaction is empty.

Result in Database SQLite

<img src="database-table2.png" alt="Alternative text" />

## Input Validation

### 1. Item Name Must be String and Can not Empty String
User adds item name to Table with number

In [58]:
Customer.add_item(12, 3, 10000)

Invalid input!

User adds item name to Table with empty string

In [59]:
Customer.add_item("", 4, 10000)

Invalid input!

Current Order Table

In [60]:
Customer.check_order()

Transaction is empty.

### 2. Item Quantity Must be Integer and Greater Than 0
User adds item quantity to Table with string

In [61]:
Customer.add_item("Buku", "4", 10000)

Invalid input!

User adds item quantity to Table with negative number

In [62]:
Customer.add_item("Buku", -1, 10000)

Invalid input!

In [63]:
Customer.check_order()

Transaction is empty.

### 2. Item Price Must be Integer or Float and Greater Than 0
User adds item price to Table with string

In [64]:
Customer.add_item("Buku", 3, "10000")

Invalid input!

User adds item price to Table with negative number

In [65]:
Customer.add_item("Buku", 4, -4000)

Invalid input!